*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "partials/photo";
@import "partials/header";

body {
    background-image: url(./assets/logos/fundo.png);
    background-size: cover;
    max-width: 1240px;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (width > 480px) and (width <= 1024px){
        width: 100%;
        margin: 10px auto;
    }

    @media (width <= 480px) {
        margin: 10px auto;
    }
}

p {
    font-family: 'bellota', sans-serif;
}

h2 {
    font-weight: bold;
}

header {
    display: flex;
    width: 90%;
    height: 800px;

    @media (width > 480px) and (width <= 1024px){
        height: 1000px;
    }

    @media (width <= 480px) {
        width: 100%;
        height: 900px;
        padding: 0 20px;
    }
}

.about {
    background-color: #CC7A5E;
    color: #fff;
    width: 90%;
    margin-top: 20px;
    padding: 20px 50px;
    border-radius: 15px;

    & p {
        font-size: 1.5em;
        text-align: center;
        font-weight: 100;
    }

    @media (width <= 480px) {
        h2 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }
    }
}

main {
    margin-top: 30px;
    width: 90%;

    @media (width <= 480px){
        h2 {
            font-size: 1.6em;
        }
    }

    & .alcance {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;

        & img {
            width: 80px;
            height: 80px;
        }

        & p {
            font-size: 1.4em;
        }
    

        & .info {
            display: flex;
            gap: 40px;

            & .infoWoman, .infoMan, .infoEarth {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        & .infoEarth {
            display: flex;
            align-items: center;
            gap: 20px;

            & img {
                width: 80px;
                height: 80px;
            }

            & li {
                list-style-type: none;
                font-size: 1.2em;
            }
        }

        & .infoAlcance {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        @media (width > 480px) and (width <= 1024px) {
            .info, .infoEarth {
                flex-direction: column;
                gap: 10px;
            }

            .infoEarth {
                justify-content: center;
                padding: 0 20px;
                border-right: 1px solid black;
                border-left: 1px solid black;

                div{
                    text-align: center;
                }
            }
        }

        @media (width <= 480px) {
            flex-direction: column;
            align-items: center;
            gap: 20px;

            & img {
                width: 40px;
                height: 40px;
            }

            & p {
                font-size: 1em;
            }

            & .infoAlcance {
                flex-direction: row;
                gap: 20px;

                p {
                    font-size: 1.1em;
                    font-weight: bold;
                }
            }
        }
    }

    & .description {
        h2 {
            margin: 30px 0;
        }

        p {
            font-size: 1.8em;
            text-align: center;
        }

        @media (width <= 480px) {
            
            p {
                font-size: 1.2em;
            }
        }
    }

    & .works {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h3 {
            font-size: 1.5em;
            text-align: center;
            margin-bottom: 10px;
        }

        p {
            font-size: 1.8em;
        }

        .worksItem {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            .item {
                width: 49%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .detailItem {
                    display: grid;
                    grid-template-columns: 200px 1fr;
                    grid-gap: 10px;
                }

                .titleItem {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                .textItem {
                    font-size: 1.4em;
                }
                
                .imgItem {
                    flex-shrink: 0;
                    width: 200px;
                    height: 200px;
                    background-color: #d9d9d9;
                    border-radius: 15px;
                    object-fit: cover;
                }

                @media (width > 480px) and (width <= 1110px) {
                    width: 100%;

                    .detailItem {
                        grid-template-columns: 200px 1fr;
                        align-items: center;

                        p {
                            font-size: 1.8em;
                        }
                    }

                    .titleItem {
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }

                    .imgItem {
                        grid-row-start: 1;
                        grid-row-end: 3;
                    }
                }

                @media (width <= 480px){
                    width: 100%;

                    .detailItem {
                        grid-template-columns: 100px 1fr;
                        align-items: center;

                        p {
                            font-size: 1.2em;
                        }
                    }

                    .titleItem {
                        grid-column-start: 2;
                        grid-column-end: 3;
                    }

                    .imgItem {
                        width: 100px;
                        height: 100px;
                        grid-row-start: 1;
                        grid-row-end: 3;
                    }
                }
            }
        }
    }

    & .contacts {
        h2 {
            margin-top: 30px;
        }

        & .social {
            display: flex;
            justify-content: space-evenly;
            flex-shrink: 0;
            margin-top: 30px;
            flex-wrap: wrap;
            gap: 10px;

            .wa {
                background-color: rgba(96, 214, 106, 0.5);
            }

            .inst {
                background-color: rgba(242, 77, 88, 0.5);
            }

            .ttk {
                background-color: rgba(127, 134, 195, 0.5);
            }

            .email {
                background-color: rgba(66, 116, 244, 0.5);
            }

            .yt {
                background-color: rgba(146, 146, 146, 0.5);
            }
        }

        & a {
            display: inline-block;
            width: 200px;
            padding: 10px 0;
            text-decoration: none;
            text-align: center;
            border-radius: 10px;
            color: black;
            font-size: 1.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-family: 'bellota', sans-serif;

            img {
                width: 30px;
            }
        }
        
        @media (width <= 480px) {
            .social {
                flex-wrap: wrap;
                gap: 10px;
            }    
        }
    }
}

// Modais

.backgroud {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 89;
    
    .fundo {
        width: 50%;
        height: 50%;
        background-color: #f0f0f0;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 88;
        transform: translate(-50%, -50%);
    
        padding: 20px 20px;
        border-radius: 15px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
        button {
            position: fixed;
            top: 30px;
            left: 30px;
        }
    
        a {
            display: inline-block;
            width: 200px;
            padding: 10px 0;
            text-decoration: none;
            text-align: center;
            border-radius: 15px;
            color: black;
            font-size: 1.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-family: 'bellota', sans-serif;
            background-color: rgba(96, 214, 106, 0.5);
    
            img {
                width: 30px;
                height: 30px;
                background-color: transparent;
            }
        }
    
        h2 {
            margin: 20px 0;
        }
    
        p {
            font-size: 1.6em;
        }
    
        img {
            width: 250px;
            height: 300px;
            background-color: #d9d9d9;
            flex-shrink: 0;
        }
    
        .container {
            display: flex;
            gap: 10px;
        }

    }
    
    .conteudo {
            display: none;
    }

    @media (width <= 480px){
        .fundo {
            width: 100%;
            height: 80%;
            overflow-y: auto;

            p {
                text-align: center;
                font-size: 1em;
            }

            button {
                font-size: 1em;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 15px;
                left: 15px;
            }

            a {
                margin-top: 30px;
            }
        }

        .container {
            flex-direction: column;
            align-items: center;
        }
    }
}
