* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photos {
  width: 50%;
}
@media (width > 480px) and (width <= 1024px) {
  .photos {
    width: 100%;
    display: grid;
  }
}
@media (width <= 480px) {
  .photos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.photo2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0 40px;
}
.photo2 .leftDeg {
  transform: translate(35px, 35px);
}
@media (width > 480px) and (width <= 1024px) {
  .photo2 .leftDeg {
    position: relative;
    z-index: 10;
  }
}
.photo2 .img2 {
  transform: rotate(-10deg) translate(0, 0);
}
@media (width > 480px) and (width <= 1024px) {
  .photo2 .img2 {
    position: relative;
    z-index: 9;
  }
}
.photo2 .rightDeg {
  transform: translate(-35px, 35px);
}
@media (width > 480px) and (width <= 1024px) {
  .photo2 .rightDeg {
    transform: rotate(15deg);
  }
}
@media (width > 480px) and (width <= 1024px) {
  .photo2 {
    flex-wrap: wrap;
  }
  .photo2 .moldura {
    width: 270px;
    height: 340px;
    flex-shrink: 0;
  }
}
@media (width <= 480px) {
  .photo2 .moldura {
    width: 140px;
    height: 200px;
    flex-shrink: 0;
  }
  .photo2 .moldura img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.moldura {
  width: 290px;
  height: 370px;
  background-color: white;
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.moldura .photo {
  width: 85%;
  height: 75%;
  background-color: #d9d9d9;
  border-radius: 5px;
}
.moldura .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
  object-fit: cover;
}
.moldura p {
  font-size: 1.4rem;
  font-family: "cormorant", sans-serif;
}
@media (width <= 480px) {
  .moldura {
    width: 170px;
    height: 240px;
    border: solid 1px black;
  }
  .moldura .photo {
    width: 85%;
    height: 75%;
  }
  .moldura p {
    font-size: 1em;
  }
}

.leftDeg {
  transform: rotate(-15deg) translate(0, 30px);
  transition-duration: 1s;
}
@media (width > 480px) and (width <= 1024px) {
  .leftDeg {
    transform: rotate(15deg) translate(50px, 70px);
  }
}
@media (width <= 480px) {
  .leftDeg {
    position: relative;
    z-index: 10;
    transform: rotate(-15deg) translate(-85px, 20px);
  }
}

.img2 {
  transition-duration: 1s;
}
@media (width > 1024px) {
  .img2 {
    transform: translate(300px, -200px);
  }
}
@media (width > 480px) and (width <= 1024px) {
  .img2 {
    transform: translateY(-100px);
    justify-self: end;
  }
}
@media (width <= 480px) {
  .img2 {
    transform: translate(0, 0);
    position: relative;
    z-index: 9;
  }
}

.rightDeg {
  transform: rotate(15deg) translate(-50px, -350px);
  transition-duration: 1s;
}
@media (width > 480px) and (width <= 1024px) {
  .rightDeg {
    transform: rotate(-15deg) translate(60px, -170px);
  }
}
@media (width <= 480px) {
  .rightDeg {
    transform: rotate(15deg) translate(50px, -50px);
  }
}

h1 {
  font-family: "corinthia", sans-serif;
  font-size: 6rem;
}

h2 {
  font-family: "bellota", sans-serif;
  font-weight: 100;
  font-size: 2.4em;
  text-align: center;
}
h2 .word {
  color: #CC7A5E;
}

a {
  text-decoration: none;
}

button {
  font-family: "bellota", sans-serif;
  color: #5A7577;
  padding: 10px 19px;
  border: 2px solid #5A7577;
  border-radius: 40px;
  background-color: #D5DADB;
  font-size: 1.6em;
  display: flex;
  align-items: center;
  gap: 10px;
}
button img {
  width: 30px;
}

.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.text img, .text h1 {
  position: relative;
  z-index: 12;
}
@media (width > 480px) and (width <= 1024px) {
  .text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 0;
    display: grid;
    padding: 20px 40px;
    grid-gap: 120px;
  }
  .text img {
    width: 430px;
    justify-self: end;
  }
  .text button {
    justify-self: center;
  }
  .text button img {
    width: 30px;
  }
}
@media (width <= 480px) {
  .text {
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
  }
  .text img {
    width: 210px;
    position: relative;
    z-index: 11;
    left: 15%;
    transform: translateY(20px);
  }
  .text h1 {
    position: relative;
    z-index: 11;
    font-size: 3.8em;
    font-weight: 200;
    transform: translate(-80px, 350px);
  }
  .text h2 {
    transform: translateY(500px);
    text-align: center;
    width: 90%;
    font-size: 1.4em;
    font-weight: 400;
  }
  .text h2 span {
    font-weight: 600;
  }
  .text button {
    transform: translateY(520px);
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .text button img {
    width: 36px;
    height: 36px;
    position: relative;
    top: -20px;
    left: 0;
  }
}

body {
  background-image: url(./assets/logos/fundo.png);
  background-size: cover;
  max-width: 1240px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (width > 480px) and (width <= 1024px) {
  body {
    width: 100%;
    margin: 10px auto;
  }
}
@media (width <= 480px) {
  body {
    margin: 10px auto;
  }
}

p {
  font-family: "bellota", sans-serif;
}

h2 {
  font-weight: bold;
}

header {
  display: flex;
  width: 90%;
  height: 800px;
}
@media (width > 480px) and (width <= 1024px) {
  header {
    height: 1000px;
  }
}
@media (width <= 480px) {
  header {
    width: 100%;
    height: 900px;
    padding: 0 20px;
  }
}

.about {
  background-color: #CC7A5E;
  color: #fff;
  width: 90%;
  margin-top: 20px;
  padding: 20px 50px;
  border-radius: 15px;
}
.about p {
  font-size: 1.5em;
  text-align: center;
  font-weight: 100;
}
@media (width <= 480px) {
  .about h2 {
    font-size: 2em;
  }
  .about p {
    font-size: 1em;
  }
}

main {
  margin-top: 30px;
  width: 90%;
}
@media (width <= 480px) {
  main h2 {
    font-size: 1.6em;
  }
}
main .alcance {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
main .alcance img {
  width: 80px;
  height: 80px;
}
main .alcance p {
  font-size: 1.4em;
}
main .alcance .info {
  display: flex;
  gap: 40px;
}
main .alcance .info .infoWoman, main .alcance .info .infoMan, main .alcance .info .infoEarth {
  display: flex;
  align-items: center;
  gap: 10px;
}
main .alcance .infoEarth {
  display: flex;
  align-items: center;
  gap: 20px;
}
main .alcance .infoEarth img {
  width: 80px;
  height: 80px;
}
main .alcance .infoEarth li {
  list-style-type: none;
  font-size: 1.2em;
}
main .alcance .infoAlcance {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (width > 480px) and (width <= 1024px) {
  main .alcance .info, main .alcance .infoEarth {
    flex-direction: column;
    gap: 10px;
  }
  main .alcance .infoEarth {
    justify-content: center;
    padding: 0 20px;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  main .alcance .infoEarth div {
    text-align: center;
  }
}
@media (width <= 480px) {
  main .alcance {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  main .alcance img {
    width: 40px;
    height: 40px;
  }
  main .alcance p {
    font-size: 1em;
  }
  main .alcance .infoAlcance {
    flex-direction: row;
    gap: 20px;
  }
  main .alcance .infoAlcance p {
    font-size: 1.1em;
    font-weight: bold;
  }
}
main .description h2 {
  margin: 30px 0;
}
main .description p {
  font-size: 1.8em;
  text-align: center;
}
@media (width <= 480px) {
  main .description p {
    font-size: 1.2em;
  }
}
main .works {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .works h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}
main .works p {
  font-size: 1.8em;
}
main .works .worksItem {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
main .works .worksItem .item {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .works .worksItem .item .detailItem {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
}
main .works .worksItem .item .titleItem {
  grid-column-start: 1;
  grid-column-end: 3;
}
main .works .worksItem .item .textItem {
  font-size: 1.4em;
}
main .works .worksItem .item .imgItem {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (width > 480px) and (width <= 1110px) {
  main .works .worksItem .item {
    width: 100%;
  }
  main .works .worksItem .item .detailItem {
    grid-template-columns: 200px 1fr;
    align-items: center;
  }
  main .works .worksItem .item .detailItem p {
    font-size: 1.8em;
  }
  main .works .worksItem .item .titleItem {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  main .works .worksItem .item .imgItem {
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
@media (width <= 480px) {
  main .works .worksItem .item {
    width: 100%;
  }
  main .works .worksItem .item .detailItem {
    grid-template-columns: 100px 1fr;
    align-items: center;
  }
  main .works .worksItem .item .detailItem p {
    font-size: 1.2em;
  }
  main .works .worksItem .item .titleItem {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  main .works .worksItem .item .imgItem {
    width: 100px;
    height: 100px;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
main .contacts h2 {
  margin-top: 30px;
}
main .contacts .social {
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 0;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 10px;
}
main .contacts .social .wa {
  background-color: rgba(96, 214, 106, 0.5);
}
main .contacts .social .inst {
  background-color: rgba(242, 77, 88, 0.5);
}
main .contacts .social .ttk {
  background-color: rgba(127, 134, 195, 0.5);
}
main .contacts .social .email {
  background-color: rgba(66, 116, 244, 0.5);
}
main .contacts .social .yt {
  background-color: rgba(146, 146, 146, 0.5);
}
main .contacts a {
  display: inline-block;
  width: 200px;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  color: black;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "bellota", sans-serif;
}
main .contacts a img {
  width: 30px;
}
@media (width <= 480px) {
  main .contacts .social {
    flex-wrap: wrap;
    gap: 10px;
  }
}

.backgroud {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 89;
}
.backgroud .fundo {
  width: 50%;
  height: 50%;
  background-color: #f0f0f0;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 88;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backgroud .fundo button {
  position: fixed;
  top: 30px;
  left: 30px;
}
.backgroud .fundo a {
  display: inline-block;
  width: 200px;
  padding: 10px 0;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  color: black;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "bellota", sans-serif;
  background-color: rgba(96, 214, 106, 0.5);
}
.backgroud .fundo a img {
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.backgroud .fundo h2 {
  margin: 20px 0;
}
.backgroud .fundo p {
  font-size: 1.6em;
}
.backgroud .fundo img {
  width: 250px;
  height: 300px;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.backgroud .fundo .container {
  display: flex;
  gap: 10px;
}
.backgroud .conteudo {
  display: none;
}
@media (width <= 480px) {
  .backgroud .fundo {
    width: 100%;
    height: 80%;
    overflow-y: auto;
  }
  .backgroud .fundo p {
    text-align: center;
    font-size: 1em;
  }
  .backgroud .fundo button {
    font-size: 1em;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    left: 15px;
  }
  .backgroud .fundo a {
    margin-top: 30px;
  }
  .backgroud .container {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=styles.css.map */